#intro{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

#intro img{
    filter: brightness(0.5);
}


div.relative{
    position: relative;
  
}

#intro-text-box{
    position: absolute;
    top: 45vh;
    left: 40vw; 
}

#intro-column{
    position: relative;

}